<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"
            integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <!--Self-written CSS-->
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/userinfor.css" rel="stylesheet">
    <link href="/css/toast.css">
</head>
<body>
<!--User info-->
<section class="bg-gray-100 2xl:container" layout:fragment="content">
    <div class="flex w-5/6 mx-auto">
        <!--Sidebar-->
        <aside class="w-1/3" aria-label="Sidebar">
            <div class="p-2 px-3 py-4 overflow-y-auto rounded">
                <h1 class="mb-3 text-4xl font-medium">Xin chào bạn!</h1>
                <div class="w-full h-px mb-2 bg-gray-300"></div>
                <ul class="mt-1 space-y-2">
                    <li>
                        <a th:href="@{/userinfor/update/{id}(id=${tk.getEmail()})}"
                           class="flex items-center p-2 text-lg text-gray-700 font-base hover:bg-gray-50">
                            <i class="ri-user-3-line"></i>
                            <span class="ml-3">Tài khoản của tôi</span>
                        </a>
                    </li>
                    <div class="w-full h-px bg-gray-200"></div>
                    <li>
                        <a th:href="@{/userinfor/changepassword/{id}(id=${tk.getEmail()})}" class="flex items-center p-2 text-lg text-gray-500 font-base hover:bg-gray-50">
                            <i class="ri-lock-line"></i>
                            <span class="ml-3">Đổi mật khẩu</span>
                        </a>
                    </li>
                    <div class="w-full h-px bg-gray-300"></div>
                    <li>
                        <a href="#" class="flex items-center p-2 text-lg text-gray-500 font-base hover:bg-gray-50">
                            <i class="ri-motorbike-line"></i>
                            <span class="ml-3">Xe đã thuê</span>
                        </a>
                    </li>
                    <div class="w-full h-px bg-gray-300"></div>
                    <li>
                        <div class="flex items-center p-2 text-lg text-gray-500 font-base hover:bg-gray-50">
                            <i class="ri-arrow-left-line"></i>
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="ml-3">
                                    Đăng xuất
                                </button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
        <!--Content-->
        <div class="w-2/3">
            <h1 class="mt-4 mb-2 text-4xl font-medium">Đổi mật khẩu</h1>

            <form th:action="@{/userinfor/changepassword/{id}(id=${tk.email})}" method="post" id="changePasswordForm" class="p-6 mt-6 mb-3 bg-white rounded-lg shadow-lg">
                <h4 th:if="${error}" th:text="${error}" class="text-red-500"></h4>
                <h4 th:if="${message}" th:text="${message}" class="text-green-500"></h4>
                <h2 class="mb-6 text-2xl font-medium">Nhập mật khẩu</h2>
                <div class="relative mb-4">
                    <label class="block mb-2 text-sm font-bold text-gray-400" for="currentPassword">Mật khẩu hiện tại</label>
                    <input
                            class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none"
                            id="currentPassword" name="currentPassword" type="password" placeholder="Mật khẩu hiện tại của bạn"
                            oninput="checkInputs()">
                    <div class="absolute right-0 flex items-center pr-3 top-8">
                        <button type="button" class="show-password-btn"
                                onclick="togglePasswordVisibility('currentPassword', 'showCurrentPassword')">
                            <i class="text-2xl ri-eye-line" id="showCurrentPassword"></i>
                        </button>
                    </div>
                </div>
                <div class="relative mb-4">
                    <label class="block mb-2 text-sm font-bold text-gray-400" for="newPassword">Mật khẩu mới</label>
                    <input
                            class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none"
                            id="newPassword" type="password" name="newPassword" placeholder="Mật khẩu mới" oninput="checkInputs()">
                    <div class="absolute right-0 flex items-center pr-3 top-8">
                        <button type="button" class="show-password-btn"
                                onclick="togglePasswordVisibility('newPassword', 'showNewPassword')">
                            <i class="text-2xl ri-eye-line" id="showNewPassword"></i>
                        </button>
                    </div>
                </div>
                <div class="relative mb-4">
                    <label class="block mb-2 text-sm font-bold text-gray-400" for="confirmedNewPassword">Xác nhận mật khẩu mới</label>
                    <input
                            class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none"
                            id="confirmedNewPassword" type="password" placeholder="Xác nhận mật khẩu mới"
                            oninput="checkInputs()">
                    <div class="absolute right-0 flex items-center pr-3 top-8">
                        <button type="button" class="show-password-btn"
                                onclick="togglePasswordVisibility('confirmedNewPassword', 'showConfirmedNewPassword')">
                            <i class="text-2xl ri-eye-line" id="showConfirmedNewPassword"></i>
                        </button>
                    </div>
                </div>
                <div class="flex justify-end mt-7">
                    <button id="submitButton" type="submit"
                            class="p-2 font-semibold bg-yellow-300 rounded-lg shadow-lg cursor-not-allowed"
                            onclick="checkSamePassword(event)">
                        Xác nhận thay đổi
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
</body>

<script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/plugin/advancedFormat.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/plugin/isSameOrBefore.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/plugin/isSameOrAfter.js"></script>
<!--Self-written JS-->
<script src="/js/index/dropdown.js"></script>
<script src="/js/index/input.js"></script>
</html>