.remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    color: red;
    border: none;
    cursor: pointer;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    display: inline-block;
    margin: 5px;
}